@{
    ViewData["Title"] = "Успешна поръчка";
}

<h2>Благодарим Ви за поръчката!</h2>
<p>Ще се свържем с Вас за потвърждение.</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">
    Обратно към началната страница
</a>
