@{
    ViewData["Title"] = "Home Page";
}

<section class="hero-full">
    <div class="hero-content">
        <h1>UP TO 40% OFF</h1>
        <p>Най-добрите фитнес продукти, оборудване и аксесоари.</p>
        <a asp-area=""
           asp-controller="Products"
           asp-action="Index"
           class="btn btn-warning btn-lg">
            Виж продукти
        </a>



    </div>
</section>
